.wrapper {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
}

.wrapper.closing .overlay {
  animation: fade-out 0.2s forwards;
}

.wrapper.closing .container {
  animation: fade-out 0.2s forwards, grow-down 0.2s forwards;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  animation: fade-in 0.2s forwards;
}

.container {
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: auto;
  border-radius: 8px;
  padding: 18px;
  animation: fade-in 0.2s forwards, grow-up 0.2s forwards;
}
.close-icon {
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes grow-up {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes grow-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}
